@use "../mixins" as *;

.button {
  @include hover-effect;
  @include center-content;

  height: 24px;
  padding-inline: 8px;
  font-size: 14px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 20px;

  &--dark {
    color: var(--color-light);
    background-color: var(--color-dark);
  }

  &--dark-bordered {
    border: 1px solid var(--color-dark);
  }
}
