@use "../helpers" as *;

.references {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @include laptop {
      column-gap: 6px;
    }
  }

  &__link {
    font-size: 13.5px;
    transition-duration: 0s !important;

    &--dark {
      @include hover {
        background-color: color-mix(in srgb, var(--color-dark), white 10%);
      }
    }

    &--light {
      @include hover {
        background-color: color-mix(in srgb, var(--color-light), black 10%);
      }
    }
  }
}
