@use "../helpers" as *;

.references {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @include laptop {
      column-gap: 6px;
    }
  }

  &__link {
    font-size: 13.5px;
  }
}
