@use "../helpers" as *;

.socials {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__link {
    @include square(19px);
    @include hover-effect;

    display: flex;
  }

  svg {
    @include square(100%);
  }
}
